body {
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  background: #105375;
  font-family: 'Cabin';
  transition: all 300ms ease;
}
body.level2 {
  background: #1e77a5;
}
body.level3 {
  background: #41a5d8;
}
body.level4 {
  background: #008ed6;
}
button, input {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  height: 26px;
}
button {
  width: 64px;
}

.ui-draggable .ui-dialog-titlebar {
  background-color: #8d4254;
  color: #eee;
}
.ui-dialog .ui-dialog-buttonpane button {
  padding: 4px;
  width: 100px;
}
.ui-dialog .ui-dialog-buttonpane button:first-of-type {
  background-color: #8d4254;
  color: #eee;
}

canvas {
  background: rgba(0,0,0,0.8);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.wrapper {
  margin: 0;
  min-height: 100%;
  position: relative;
  width: 100%;
}
.main {
  padding-bottom: 5px;
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 100%;
  }
}
  .header-container {
    background: #1e77a5;
    border-bottom: 2px solid #222;
    box-shadow: none;
    color: #ffffff;
    height: 44px;
    margin: 0 auto 0;
    padding: 0 0 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
  }
  .header-container h1 {
    float: left;
    font-size: 2.5em;
    margin: 0.3em 0 0.15em;
    padding-left: 5px;
    text-shadow: 1px 1px 1px #222;
  }
  .header-container span {
    font-size: 1.25em;
    margin: auto 5px auto 10px;
    position: relative;
    text-shadow: 1px 1px 1px #222;
    top: 5px;
  }
  .header-container img {
    position: relative;
    top: 3px;
  }
  header {
    margin: 0;
    width: 100%;
  }

  .main-container {
    clear: both;
    margin: 44px 0 0;
    overflow: hidden;
    padding: 0 0 50px;
  }
  .main-container .wrapper {
    /*margin: 0 5%;*/
  }
  .main-container .wrapper div {
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .footer-container {
    background: #1e77a5;
    border-top: 2px solid #222;
    bottom: 0;
    color: #ffffff;
    font-size: 1em;
    height: 2vw;
    left: -10px;
    line-height: 1.4em;
    min-height: 11px;
    padding: 7px;
    position: fixed;
    text-align: center;
    width: 100%;
  }
  .footer-container footer {
    padding: 17px 20px;
    position: relative;
    top: -23px;
  }
  .footer-container footer span a {
    color: #efea07;
    text-decoration: none;
  }
  .footer-container footer span a:hover {
    color: #f5f148;
  }

  .button {
    -moz-box-shadow:
      inset 0px -3px 1px rgba(0, 0, 0, 0.45),
      0px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:
      inset 0px -3px 1px rgba(0, 0, 0, 0.45),
      0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow:
      inset 0px -3px 1px rgba(0, 0, 0, 0.45),
      0px 2px 2px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    font-size: 24px;
    margin: 0;
    padding: 2px 15px 7px;
    text-decoration: none;
    width: 100%;
  }

  /* test notifications buttons */
  .button.test {
    font-size: 18px;
    margin: 0;
    text-align: center;
  }
  .button.test.success { background-color: #4c8504; }
  .button.test.success:hover { background-color: #5e9c11; }
  .button.test.notice { background-color: #e6e1d0; color: #000; }
  .button.test.notice:hover { background-color: #f2f0e9; }
  .button.test.warning { background-color: #c1bf24; color: #000; }
  .button.test.warning:hover { background-color: #d2d037; }
  .button.test.error { background-color: #880000; }
  .button.test.error:hover { background-color: #9a0f0f; }

  /* timer control buttons */
  .button.start { background-color: #428d4b; }
  .button.start:hover { background-color: #429d4b; }
  .button.reset { background-color: #869633; }
  .button.reset:hover { background-color: #9bac45; }
  .button.stop { background-color: #8d4254; }
  .button.stop:hover { background-color: #9d4254; }

  /* main raffle! button */
  .button.raffle {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #1e77a5;
    border-radius: 10px;
    clear: left;
    float: none;
    font-size: 3.75em;
    margin: 0 auto;
    padding: 24px 32px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    width: 80%;
  }
  .button.raffle:active {
    -moz-box-shadow:
      inset 0px -3px 1px rgba(255, 255, 255, 1),
      inset 0 0px 3px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow:
      inset 0px -3px 1px rgba(255, 255, 255, 1),
      inset 0 0px 3px rgba(0, 0, 0, 0.9);
    background-color: #41a5d8;
    box-shadow:
      inset 0px -3px 1px rgba(255, 255, 255, 1),
      inset 0 0px 3px rgba(0, 0, 0, 0.9);
    position: relative;
    top: 3px;
  }
  .button.raffle:active:after {
    background: #ffffff;
    bottom: -1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .button.raffle.vertical {
    border-radius: 25px !important;
    display: block;
    padding: 20px 20px;
    position: relative;
    text-transform: uppercase;
    width: 127px;
  }
  .button.raffle.vertical.bottom {
    padding-bottom: 20px;
    padding-top: 25px;
    top: -17px;
  }
  .button.raffle:hover {
    background-color: #41a5d8;
  }

  .button.export-results {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: none;
    border: 0;
    box-shadow: none;
    color: #000;
    font-size: 24px;
    height: 24px;
    outline: none;
    position: absolute;
    right: 16px;
    text-align: right;
    top: 3px;
    width: 40px;
  }

  .button.disabled,
  .button.disabled:hover {
    background-color: #555555;
    border: 1px solid #ccc;
    color: #999;
    cursor: not-allowed;
  }

/******************/
/* specific parts */
/******************/

span#button-admin-menu-toggle {
  display: none;
  height: 32px;
  padding: 4px;
  position: fixed;
  right: 13px;
  top: 13px;
  transition: .25s;
  width: 30px;
  z-index: 15;
}
span#button-admin-menu-toggle div {
  box-shadow: 1px 1px 1px #222;
}
span#button-admin-menu-toggle:hover {
  cursor: pointer;
}
span#button-admin-menu-toggle .menu-bar {
  border-radius: 2px;
  position: absolute;
  transition: .5s;
  width: 80%;
}
span#button-admin-menu-toggle .menu-bar-top {
  border: 4px solid #ffffff;
  border-bottom: none;
  top: 0;
}
span#button-admin-menu-toggle .menu-bar-middle {
  background-color: #ffffff;
  height: 4px;
  margin-bottom: 7px;
  margin-top: 7px;
  top: 4px;
  width: 38px;
}
span#button-admin-menu-toggle .menu-bar-bottom {
  border: 4px solid #ffffff;
  border-top: none;
  top: 22px;
}
.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  opacity: 0;
  transform: translate(-230px);
  transition: .1s ease-in;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
}

.menu, .menu div {
  text-align: left;
}
div#admin-menu {
  background-color: #6ba3df;
  border-left: 1px solid #000;
  color: #ffffff;
  display: block;
  font-size: 1em;
  font-weight: 700;
  height: 100%;
  margin-right: -225px;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 49px;
  transition: .25s;
  width: 225px;
  z-index: 10;
}
div#admin-menu.menu-show {
  box-shadow: -3px 3px 10px #444;
  margin-right: 0;
}
div#admin-menu .menu div.title {
  background: #4a5e73;
  border-bottom: 2px solid #000;
  border-left: 3px solid #000;
  border-top: 1px solid #555;
  clear: left;
  float: none;
  font-size: 1.2em;
  height: 23px;
  padding: 0 5px 2px 7px;
  text-transform: uppercase;
  width: 100%;
}
div#debug-values div.values {
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  -webkit-transition: all 100ms ease;
  background: #3b6fa8;
  font-family: monospace;
  padding: 2px 10px;
  transition: all 100ms ease;
}
div#test-notify {
  clear: both;
}
div#test-notify > a {
  float: left;
  width: 25%;
}
div#fancy-options {
  float: left;
  width: 100%;
}
.checkbox {
  clear: both;
  padding: 5px`;
  width: 100%;
}
.checkbox label {
  clear: both;
  margin-left: 10px;
  text-transform: uppercase;
}
.checkbox input:hover,
.checkbox label:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #222;
}
.checkbox input {
  float: left;
  margin-left: 6px;
  padding: 20px;
  position: relative;
  top: -1px;
}
div#timer-controls {
  clear: both;
  display: block;
  float: none;
  width: 100%;
}
div#timer-controls > a {
  border-left: 3px solid #666;
  font-size: 20px;
  margin: 0;
  width: 100%;
}
div#timer-controls > a#button-timer-start,
div#timer-controls > a#button-timer-stop {
  float: left;
  width: 50%;
}

div#user-items-manager {
  clear: left;
  /* need to fix user items after changing data format */
  display: none;
}
div#user-items-manager input,
div#user-items-manager button,
div#user-items-manager div {
  position: relative;
}
div#user-items-manager input {
  width: auto;
}
div#user-items-manager input#text-user-items-add {
  padding: 3px;
}
div#user-items-manager button {
  border: 2px solid #ccc;
  color: #eee;
  font-weight: bold;
  margin: 0 1px;
  width: 75px;
}
div#user-items-manager button#button-user-items-add {
  background-color: #428d4b;
}
div#user-items-manager button#button-user-items-clear {
  background-color: #8d4254;
}
div#user-items-manager button#button-user-items-clear.disabled {
  background-color: #999;
  border: 2px solid #666;
  color: #777;
}
div#user-items-manager div#user-items-display {
  clear: left;
  color: #ffffff;
  font-weight: bold;
  margin: 4px 0 0;
  padding: 2px 4px;
}

div#items-available textarea,
div#items-chosen textarea {
  background: #dedede;
  border: none;
  font-size: 0.9em;
  height: 150px;
  padding: 5px;
  width: 100%;
}

/* main area */
.item-status {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  background: #fff3bb;
  border: 2px solid #000;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #000;
  cursor: pointer;
  font-size: 1.1em;
  left: 25%;
  margin: 0 auto 5px;
  max-width: 50vw;
  min-height: 30px;
  min-width: 40px;
  padding: 10px 20px;
  position: static;
  text-align: center;
  top: 7px;
  z-index: 10000;
}

div#items-cycle {
  align-content: center;
  align-items: center;
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 14%, #28343b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 14%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 14%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  border-right: 5px solid #ffffff;

  border-top: 5px solid #ffffff;
  color: #555555;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
  flex-wrap: wrap;
  /*font-family: 'Bungee';*/
  font-family: Arial Bold, sans-serif;
  font-size: 5vw;
  font-weight: bold;
  height: 6vw;
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 10px;
  text-transform: uppercase;
  width: 55vw;
  word-break: break-word;
  word-wrap: break-word;
}
div#items-cycle div {
  -moz-transition: all 750ms ease;
  -ms-transition: all 750ms ease;
  -o-transition: all 750ms ease;
  -webkit-transition: all 750ms ease;
  text-transform: uppercase;
  transition: all 750ms ease;
  width: 100%;
}
div#items-cycle,
div#items-cycle.level1,
div#items-cycle.level2,
div#items-cycle.level3,
div#items-cycle.level4 {
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  line-height: 0.8;
  transition: all 1s ease;
}

div#items-cycle div.itemName { font-size: 0.7em }
div#items-cycle div.itemAffl { font-size: 0.35em }

div#items-cycle.level1 {
  background: #d7dbe1; /* Old browsers */
  background: -moz-linear-gradient(top,  #d7dbe1 0%, #bcc1c6 14%, #7b96a5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d7dbe1 0%,#bcc1c6 14%,#7b96a5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d7dbe1 0%,#bcc1c6 14%,#7b96a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  border-top: 5px solid #000;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dbe1', endColorstr='#7b96a5',GradientType=0 ); /* IE6-9 */
  height: 13vw;
  width: 60vw;
}
div#items-cycle.level1 div.itemName { color: #444; font-size: 0.9em; }
div#items-cycle.level1 div.itemAffl { color: #444; font-size: 0.5em; }

div#items-cycle.level2 {
  background: #e8ebee; /* Old browsers */
  background: -moz-linear-gradient(top,  #e8ebee 0%, #d8dbde 14%, #b3c2cb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e8ebee 0%,#d8dbde 14%,#b3c2cb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e8ebee 0%,#d8dbde 14%,#b3c2cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 5px solid #000;

  border-top: 5px solid #000;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ebee', endColorstr='#b3c2cb',GradientType=0 ); /* IE6-9 */
  height: 17vw;
  width: 70vw;
}
div#items-cycle.level2 div.itemName { color: #c03b66; font-size: 1.05em; }
div#items-cycle.level2 div.itemAffl { color: #c03b66; font-size: 0.65em; }

div#items-cycle.level3 {
  background: #f4f5f6; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f5f6 0%, #ecedee 14%, #d8e0e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f4f5f6 0%,#ecedee 14%,#d8e0e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f4f5f6 0%,#ecedee 14%,#d8e0e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;

  border-top: 5px solid #000;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#d8e0e4',GradientType=0 ); /* IE6-9 */
  height: 21vw;
  width: 75vw;
}
div#items-cycle.level3 div.itemName { color: #3b56c0; font-size: 1.25em; }
div#items-cycle.level3 div.itemAffl { color: #3b56c0; font-size: 0.85em; }

div#items-cycle.level4 {
  -moz-box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
  -webkit-box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #f9f9f9 14%, #f3f6f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 14%,#f3f6f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfcfc 0%,#f9f9f9 14%,#f3f6f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;

  border-top: 5px solid #000;
  box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f3f6f7',GradientType=0 ); /* IE6-9 */
  height: 25vw;
  margin-top: 0;
  width: 92vw;
}
div#items-cycle.level4 div.itemName { color: #008ed6; font-size: 1.5em; }
div#items-cycle.level4 div.itemAffl { color: #608ed6; font-size: 1.0em; }

div#items-cycle.level-win {
  -moz-box-shadow: 0px 0px 20px 7px rgba(100,100,100,1);
  -webkit-box-shadow: 0px 0px 20px 7px rgba(100,100,100,1);
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #f9f9f9 14%, #f3f6f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 14%,#f3f6f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfcfc 0%,#f9f9f9 14%,#f3f6f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 5px solid #097724;
  border-left: 5px solid #0b982e;
  border-right: 5px solid #097724;

  border-top: 5px solid #0b982e;
  box-shadow: 0px 0px 20px 7px rgba(100,100,100,1);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f3f6f7',GradientType=0 ); /* IE6-9 */
  height: 25vw;
  margin-top: 0;
  width: 92vw;
}
div#items-cycle.level-win div.itemName { color: #1cc737; font-size: 2em; }
div#items-cycle.level-win div.itemAffl { color: #2da135; font-size: 1.5em; }

div#winner-confirm {
  display: none;
  margin: 0 auto 100px;
  padding: 0 20px;
  width: 80%;
}
div#winner-confirm h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #222;
}
div#winner-confirm > button {
  float: left;
  font-size: 36px;
  height: 70px;
  width: 50%;
}
div#winner-confirm > button.confirm:hover {
  background-color: #139613;
}
div#winner-confirm > button.deny:hover {
  background-color: #a71616;
}

div#results-wrapper {
  background: #ffffff;
  border: 1px solid #555555;
  border-top: none;
  clear: all;
  color: #222;
  display: none;
  float: none;
  margin-top: 20px;
  min-height: 40px;
  overflow: hidden;
  padding: 0;
  width: 80%;
}
  div#results-wrapper div#results-header {
    background-color: #1e77a5;
    color: #ffffff;
    height: 23px;
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
  }
  div#results-wrapper div#results-header h3 {
    font-size: 1.7em;
    margin: 0;
    text-transform: uppercase;
  }
  div#results-wrapper div#results-header span {}
  div#results-wrapper div#inner-results {
    background: #bfd9ea; /* Old browsers */
    background: -moz-linear-gradient(top, #bfd9ea 0%, #d8e5ee 49%, #e6edf1 63%, #f8f9fa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bfd9ea 0%,#d8e5ee 49%,#e6edf1 63%,#f8f9fa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bfd9ea 0%,#d8e5ee 49%,#e6edf1 63%,#f8f9fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd9ea', endColorstr='#f8f9fa',GradientType=0 ); /* IE6-9 */

    height: 110px;
    margin: 0 auto;
    overflow: auto;
    padding: 8px 10px 20px;
    text-transform: uppercase;
    width: 100%;
  }
    div#results-wrapper div#inner-results ul {
      font-size: 1.3em;
      margin: auto;
      padding: 0 15%;
      text-align: left;
      width: 45vw;
    }
      div#results-wrapper div#inner-results ul li {
        list-style-type: none;
        margin-right: 10px;
      }

.success,
.confirm {
  background-color: #008800;
}
.failure,
.deny {
  background-color: #880000;
}
.dialog {
  display: none;
}
