body {
  font-family: 'Cabin';
}
button, input {
  font-family: 'Inconsolata', monospace;
}
button {
  box-sizing: border-box;
  height: 26px;
  width: 64px;
}
input {
  box-sizing: border-box;
  height: 26px;
}

#resetDialog {
  display: none;
}

.ui-draggable .ui-dialog-titlebar {
  background-color: #8d4254;
  color: #eee;
}
.ui-dialog .ui-dialog-buttonpane button {
  width: 100px;
  padding: 4px;
}
.ui-dialog .ui-dialog-buttonpane button:first-of-type {
  background-color: #8d4254;
  color: #eee;
}

canvas {
  background: rgba(33,128,33,0.8);
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
}

#wrapper {
  min-height: 100%;
  position: relative;
}
  .header-container {
    background: #7f3bc0;
    border-bottom: 2px solid #222;
    box-shadow: none;
    color: #fff;
    margin: 0 auto;
    padding: 0 0 5px;
    width: 100%;
  }
  .header-container h1 {
    float: left;
    font-size: 2.5em;
    margin: 0.3em 0;
  }
  section#options {
    background: rgba(157,59,192,0.7);
    color: #fff;
    float: left;
    font-size: 0.86em;
    margin: 5px 10px;
    padding: 5px;
    text-transform: uppercase;
  }
  .checkbox {

  }
  .checkbox label {

  }
  .checkbox input {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
  .checkbox span {
    vertical-align: middle;
  }
  .header-container #add-item {
    clear: left;
  }
  .header-container #add-item input,
  .header-container #add-item button,
  .header-container #add-item div {
    float: left;
    position: relative;
  }
  .header-container #add-item input {
    width: 140px;
  }
  .header-container #user-items {
    clear: left;
    color: #fff;
    font-weight: bold;
    margin: 4px 0 0;
    padding: 0;
  }
  header {
    width: 100%;
    margin: 0 2%;
  }

  .main-container {
    clear: both;
    margin: 0;
    overflow: auto;
    padding: 0 0 50px;
  }
  .main-container .wrapper {
    margin: 0 5%;
  }

  .footer-container {
    background: #7f3bc0;
    border-top: 2px solid #222;
    color: white;
    font-size: 0.8em;
    height: 2vw;
    min-height: 11px;
    line-height: 1.4em;
    padding: 7px;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: -10px;
  }
  .footer-container footer {
    padding: 20px;
    position: relative;
    top: -37px;
  }
  .footer-container footer a {
    color: #E4DE5E;
    text-decoration: none;
  }
  .footer-container footer a:hover {
    color: #FFFD89;
  }

/******************/
/* specific parts */
/******************/

div#add-item input#text-add-item {
  padding: 3px;
  width: 50%;
}
div#add-item button {
  border: 2px solid #ccc;
  color: #eee;
  font-weight: bold;
  margin: 0 1px;
  width: 75px;
}
div#add-item button#btnAddItem {
  background-color: #428d4b;
}
div#add-item button#btnClearLocalStorage {
  background-color: #8d4254;
}
div#item-status-bubble {
  background: #FFF3BB;
  border: 2px solid #000;
  border-top: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  font-size: 1.1em;
  left: 40%;
  max-width: 240px;
  min-width: 40px;
  min-height: 30px;
  padding: 5px;
  position: fixed;
  top: 0;
}
div#item-status-bubble span {
  color: #fff;
}
section {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
section#items {
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 14%, #28343b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 14%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 14%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */


  border: 5px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bungee';
  font-size: 5vw;
  font-weight: bold;
  height: 100px;
  line-height: 1em;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  word-wrap: break-word;
}
section#items span {
  font-size: 1em;
  text-transform: uppercase;
}

section#items {
  -webkit-transition: border 2s ease,
                      box-shadow 0.25s ease,
                      background: 1s ease;
  -moz-transition: border 2s ease,
                   box-shadow 0.25s ease,
                   background: 1s ease;
  -o-transition: border 2s ease,
                 box-shadow 0.25s ease,
                 background: 1s ease;
  -ms-transition: border 2s ease,
                  box-shadow 0.25s ease,
                  background: 1s ease;
  transition: border 2s ease,
              box-shadow 0.25s ease,
              background: 1s ease;
}
section#items span {
  -webkit-transition: all 750ms ease;
  -moz-transition: all 750ms ease;
  -ms-transition: all 750ms ease;
  -o-transition: all 750ms ease;
  transition: all 750ms ease;
}
section#items.level1 {
  background: #d7dbe1; /* Old browsers */
  background: -moz-linear-gradient(top,  #d7dbe1 0%, #bcc1c6 14%, #7b96a5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d7dbe1 0%,#bcc1c6 14%,#7b96a5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d7dbe1 0%,#bcc1c6 14%,#7b96a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dbe1', endColorstr='#7b96a5',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #000;
}
section#items.level1 span {
  color: #000;
  font-size: 1em;
}
section#items.level2 {
  background: #e8ebee; /* Old browsers */
  background: -moz-linear-gradient(top,  #e8ebee 0%, #d8dbde 14%, #b3c2cb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e8ebee 0%,#d8dbde 14%,#b3c2cb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e8ebee 0%,#d8dbde 14%,#b3c2cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ebee', endColorstr='#b3c2cb',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}
section#items.level2 span {
  color: #c03b66;
  font-size: 1.25em;
}
section#items.level3 {
  background: #f4f5f6; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f5f6 0%, #ecedee 14%, #d8e0e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f4f5f6 0%,#ecedee 14%,#d8e0e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f4f5f6 0%,#ecedee 14%,#d8e0e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#d8e0e4',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  border-left: 5px solid #000;
}
section#items.level3 span {
  color: #3b56c0;
  font-size: 1.5em;
}
section#items.level4 {
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #f9f9f9 14%, #f3f6f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 14%,#f3f6f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfcfc 0%,#f9f9f9 14%,#f3f6f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f3f6f7',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  -webkit-box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
  -moz-box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
  box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
}
section#items.level4 span {
  color: #46c03b;
  font-size: 2em;
}

section#controls {
  margin-bottom: 7px;
}
  div#timerControls {
    width: 100%;
  }
  div#timerControls > a {
    margin: 0;
  }
  .button {
    -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: #6d2bac;
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-size: 36px;
    margin: 0;
    padding: 15px;
    text-decoration: none;
    width: 125px;
  }

  /* timer control buttons */
  .button.start { background-color: #428d4b; width: 33%; }
  .button.start:hover { background-color: #429d4b; }
  .button.reset { background-color: #a7b65a; width: 33%; }
  .button.reset:hover { background-color: #a7c65a; }
  .button.stop { background-color: #8d4254; width: 33%; }
  .button.stop:hover { background-color: #9d4254; }

  /* main raffle! button */
  .button.raffle {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #7f3bc0;
    clear: left;
    float: none;
    font-size: 3.75em;
    padding: 24px 32px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    width: 100%;
  }
  .button.raffle:active {
    position: relative;
    top: 3px;
    -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    background-color: #a655f5;
  }
  .button.raffle:active:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  .button.raffle.vertical {
    border-radius: 25px !important;
    position: relative;
    padding: 20px 20px;
    text-transform: uppercase;
    width: 127px;
    display: block;
  }
  .button.raffle.vertical.bottom {
    top: -17px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .button.raffle:hover {
    background-color: #a655f5;
  }
  .button.disabled, .button.disabled:hover {
    background-color: #555;
    border: 1px solid #ccc;
    color: #999;
  }

section#resultsTitle {
  background-color: #7f3bc0;
  color: #fff;
  display: none;
  margin: 30px 0 0;
  padding: 5px 0 0 5px;
  text-align: left;
}
section#resultsTitle h3 {
  margin: 0;
  text-transform: uppercase;
}
section#results {
  background: #fff;
  border: 1px solid #555;
  border-top: none;
  clear: all;
  color: #222;
  display: none;
  float: none;
  font-size: 1em;
  max-height: 100px;
  min-height: 25px;
  margin-top: 0;
  overflow-y: auto;
}

.success {
  background-color: #008800;
}
.failure {
  background-color: #880000;
}
