/*
  B #008ed6
  Y #efea07
*/

body {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #105375;
  font-family: 'Cabin';
}
body.level2 {
  background: #1e77a5;
}
body.level3 {
  background: #41a5d8;
}
body.level4 {
  background: #008ed6;
}
button, input {
  font-family: 'Inconsolata', monospace;
}
button {
  box-sizing: border-box;
  height: 26px;
  width: 64px;
}
input {
  box-sizing: border-box;
  height: 26px;
}

.ui-draggable .ui-dialog-titlebar {
  background-color: #8d4254;
  color: #eee;
}
.ui-dialog .ui-dialog-buttonpane button {
  width: 100px;
  padding: 4px;
}
.ui-dialog .ui-dialog-buttonpane button:first-of-type {
  background-color: #8d4254;
  color: #eee;
}

canvas {
  background: rgba(0,0,0,0.8);
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
}

.wrapper {
  margin: 0;
  min-height: 100%;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 100%;
  }
}
  .header-container {
    background: #1e77a5;
    border-bottom: 2px solid #222;
    box-shadow: none;
    color: #ffffff;
    height: 44px;
    margin: 0 auto;
    padding: 0 0 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
  }
  .header-container h1 {
    float: left;
    font-size: 2.5em;
    margin: 0.3em 0 0.15em;
    padding-left: 5px;
    text-shadow: 1px 1px 1px #222;
  }
  header {
    width: 100%;
    margin: 0;
  }

  .main-container {
    clear: both;
    margin: 44px 0 0;
    overflow: hidden;
    padding: 0 0 50px;
  }
  .main-container .wrapper {
    /*margin: 0 5%;*/
  }
  .main-container .wrapper div {
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .footer-container {
    background: #1e77a5;
    border-top: 2px solid #222;
    color: #ffffff;
    font-size: 1em;
    height: 2vw;
    min-height: 11px;
    line-height: 1.4em;
    padding: 7px;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: -10px;
  }
  .footer-container footer {
    padding: 20px;
    position: relative;
    top: -23px;
  }
  .footer-container footer span a {
    color: #efea07;
    text-decoration: none;
  }
  .footer-container footer span a:hover {
    color: #f5f148;
  }

/******************/
/* specific parts */
/******************/

span#button-admin-menu-toggle {
  position: fixed;
  width: 30px;
  height: 32px;
  padding: 4px;
  transition: .25s;
  right: 13px;
  top: 13px;
  z-index: 15;
  display: none;
}
span#button-admin-menu-toggle div {
  box-shadow: 1px 1px 1px #222;
}
span#button-admin-menu-toggle:hover {
  cursor: pointer;
}
span#button-admin-menu-toggle .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: .5s;
}
span#button-admin-menu-toggle .menu-bar-top {
  border: 4px solid #ffffff;
  border-bottom: none;
  top: 0;
}
span#button-admin-menu-toggle .menu-bar-middle {
  height: 4px;
  background-color: #ffffff;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
  width: 38px;
}
span#button-admin-menu-toggle .menu-bar-bottom {
  border: 4px solid #ffffff;
  border-top: none;
  top: 22px;
}
.button-open .menu-bar-top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .5s;
}
.button-open .menu-bar-middle {
  transform: translate(-230px);
  transition: .1s ease-in;
  opacity: 0;
}
.button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: .5s;
}

.menu, .menu div {
  text-align: left;
}
div#admin-menu {
  background-color: #6ba3df;
  border-left: 1px solid #000;
  position: fixed;
  top: 49px;
  right: 0;
  height: 100%;
  width: 200px;
  margin-right: -200px;
  font-size: 1em;
  font-weight: 700;
  overflow: auto;
  transition: .25s;
  z-index: 10;
  display: block;
  color: #ffffff;
}
div#admin-menu.menu-show {
  box-shadow: -3px 3px 10px #444;
  margin-right: 0;
}
div#admin-menu .menu div.title {
  background: #3b7bc0;
  border-left: 3px solid #000;
  border-bottom: 3px solid #444;
  border-top: 1px solid #888;
  font-size: 1.3em;
  padding: 5px 5px 5px 7px;
  width: 100%;
  float: none;
}
div#fancy-options {
  float: left;
  width: 100%;
}
.checkbox {
  clear: both;
  padding: 5px`;
  width: 100%;
}
.checkbox label {
  clear: both;
  margin-left: 10px;
  text-transform: uppercase;
}
.checkbox input:hover,
.checkbox label:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px #222;
}
.checkbox input {
  float: left;
  margin-left: 6px;
  padding: 20px;
  position: relative;
  top: -1px;
}
div#timer-controls {
  clear: both;
  float: none;
  display: block;
  width: 100%;
}
div#timer-controls > a {
  margin: 0;
  width: 100%;
}

div#user-items-manager {
  clear: left;
  /* need to fix user items after changing data format */
  display: none;
}
div#user-items-manager input,
div#user-items-manager button,
div#user-items-manager div {
  position: relative;
}
div#user-items-manager input {
  width: auto;
}
div#user-items-manager input#text-user-items-add {
  padding: 3px;
}
div#user-items-manager button {
  border: 2px solid #ccc;
  color: #eee;
  font-weight: bold;
  margin: 0 1px;
  width: 75px;
}
div#user-items-manager button#button-user-items-add {
  background-color: #428d4b;
}
div#user-items-manager button#button-user-items-clear {
  background-color: #8d4254;
}
div#user-items-manager button#button-user-items-clear.disabled {
  background-color: #999;
  border: 2px solid #666;
  color: #777;
}
div#user-items-manager div#user-items-display {
  clear: left;
  color: #ffffff;
  font-weight: bold;
  margin: 4px 0 0;
  padding: 2px 4px;
}

div#items-available textarea,
div#items-chosen textarea {
  background: #dedede;
  border: none;
  font-size: 0.9em;
  height: 200px;
  padding: 5px;
  width: 100%;
}

/* main area */
.item-status {
  background: #fff3bb;
  border: 2px solid #000;
  border-top: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.1em;
  left: 25%;
  margin: 0 auto;
  max-width: 50vw;
  min-width: 40px;
  min-height: 30px;
  padding: 5px;
  position: static;
  text-align: center;
  top: 0;
  z-index: 10000;
}

div#items-cycle {
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 14%, #28343b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 14%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 14%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  color: #555555;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  font-family: 'Bungee';
  font-size: 5vw;
  font-weight: bold;
  line-height: 1.35em;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  word-wrap: break-word;
  height: 6vw;
  width: 55vw;
  word-break: break-word;
}
div#items-cycle div {
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: all 750ms ease;
  -moz-transition: all 750ms ease;
  -ms-transition: all 750ms ease;
  -o-transition: all 750ms ease;
  transition: all 750ms ease;
}
div#items-cycle,
div#items-cycle.level1,
div#items-cycle.level2,
div#items-cycle.level3,
div#items-cycle.level4 {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
div#items-cycle.level1 {
  background: #d7dbe1; /* Old browsers */
  background: -moz-linear-gradient(top,  #d7dbe1 0%, #bcc1c6 14%, #7b96a5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #d7dbe1 0%,#bcc1c6 14%,#7b96a5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #d7dbe1 0%,#bcc1c6 14%,#7b96a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dbe1', endColorstr='#7b96a5',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #000;
  height: 13vw;
  width: 60vw;
}
div#items-cycle.level1 div.itemName { color: #444; font-size: 1.0em; }
div#items-cycle.level1 div.itemName { color: #444; font-size: 0.6em; }
div#items-cycle.level2 {
  background: #e8ebee; /* Old browsers */
  background: -moz-linear-gradient(top,  #e8ebee 0%, #d8dbde 14%, #b3c2cb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e8ebee 0%,#d8dbde 14%,#b3c2cb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e8ebee 0%,#d8dbde 14%,#b3c2cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ebee', endColorstr='#b3c2cb',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  height: 17vw;
  width: 70vw;
}
div#items-cycle.level2 div.itemName { color: #c03b66; font-size: 1.25em; }
div#items-cycle.level2 div.itemAffl { color: #c03b66; font-size: 0.85em; }
div#items-cycle.level3 {
  background: #f4f5f6; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f5f6 0%, #ecedee 14%, #d8e0e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f4f5f6 0%,#ecedee 14%,#d8e0e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f4f5f6 0%,#ecedee 14%,#d8e0e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5f6', endColorstr='#d8e0e4',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  border-left: 5px solid #000;
  height: 21vw;
  width: 75vw;
}
div#items-cycle.level3 div.itemName { color: #3b56c0; font-size: 1.5em; }
div#items-cycle.level3 div.itemAffl { color: #3b56c0; font-size: 1.05em; }
div#items-cycle.level4 {
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #f9f9f9 14%, #f3f6f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 14%,#f3f6f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfcfc 0%,#f9f9f9 14%,#f3f6f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f3f6f7',GradientType=0 ); /* IE6-9 */

  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  -webkit-box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
  -moz-box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
  box-shadow: 0px 0px 20px 7px rgba(120,120,120,1);
  height: 25vw;
  width: 90vw;
}
div#items-cycle.level4 div.itemName { color: #008ed6; font-size: 1.75em; }
div#items-cycle.level4 div.itemAffl { color: #608ed6; font-size: 1.15em; }

div#the-button {}
  .button {
    -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    font-size: 24px;
    margin: 0;
    padding: 2px 15px 7px;
    text-decoration: none;
    width: 100%;
  }

  /* timer control buttons */
  .button.start { background-color: #428d4b; }
  .button.start:hover { background-color: #429d4b; }
  .button.reset { background-color: #a7b65a; }
  .button.reset:hover { background-color: #a7c65a; }
  .button.stop { background-color: #8d4254; }
  .button.stop:hover { background-color: #9d4254; }

  /* main raffle! button */
  .button.raffle {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #1e77a5;
    clear: left;
    float: none;
    font-size: 3.75em;
    margin: 0 auto;
    padding: 24px 32px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    width: 80%;
  }
  .button.raffle:active {
    position: relative;
    top: 3px;
    -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
    background-color: #41a5d8;
  }
  .button.raffle:active:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  .button.raffle.vertical {
    border-radius: 25px !important;
    position: relative;
    padding: 20px 20px;
    text-transform: uppercase;
    width: 127px;
    display: block;
  }
  .button.raffle.vertical.bottom {
    top: -17px;
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .button.raffle:hover {
    background-color: #41a5d8;
  }
  .button.disabled, .button.disabled:hover {
    background-color: #555555;
    border: 1px solid #ccc;
    color: #999;
    cursor: not-allowed;
  }

div#results-wrapper {
  background: #ffffff;
  border: 1px solid #555555;
  border-top: none;
  clear: all;
  color: #222;
  display: none;
  float: none;
  min-height: 40px;
  margin-top: 20px;
  overflow-y: hidden;
  padding: 0;
  width: 80%;
}
div#results-wrapper h3 {
  background-color: #1e77a5;
  color: #ffffff;
  font-size: 1.7em;
  padding: 2px 0 3px 5px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
div#results-wrapper h3 span {

}
div#results-wrapper div {
  background: #bfd9ea; /* Old browsers */
  background: -moz-linear-gradient(top, #bfd9ea 0%, #d8e5ee 49%, #e6edf1 63%, #f8f9fa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #bfd9ea 0%,#d8e5ee 49%,#e6edf1 63%,#f8f9fa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #bfd9ea 0%,#d8e5ee 49%,#e6edf1 63%,#f8f9fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd9ea', endColorstr='#f8f9fa',GradientType=0 ); /* IE6-9 */

  height: 110px;
  overflow: auto;
  padding: 5px 0 20px;
  text-transform: uppercase;
}
div#results-wrapper div ul {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}
div#results-wrapper div ul li {
  list-style-type: none;
  margin-right: 10px;
}

.success {
  background-color: #008800;
}
.failure {
  background-color: #880000;
}
.dialog {
  display: none;
}
