$blue: #006e90;
$orange: #f18f01;
$blue-sky: #adcad6;
$blue-sky2: #71d6ff;
$green: #99c24d;
$white: #ffffff;
$black: #000000;
$gray-dark: #555555;
$gray: #999999;
$gray-light: #cccccc;
$info: #2274a5;
$warning: #fadf63;
$danger: #632b30;
$shadow-start: rgba(0, 0, 0, 0.45);
$shadow-end: rgba(0, 0, 0, 0.25);
$text-shadow: rgba(0, 0, 0, 0.8);

body {
  background: $blue;
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  transition: all 200ms ease;

  &.level2 {
    background: lighten($blue, 5%);
  }

  &.level3 {
    background: lighten($blue, 10%);
  }

  &.level4 {
    background: lighten($blue, 15%);
  }
}

a,
.button {
  &.disabled {
    background-color: $gray;
    color: $gray-light;
    cursor: not-allowed;
    text-decoration: none;

    &:hover {
      background-color: lighten($gray, 5%);
      color: $gray-light;
      cursor: not-allowed;
    }
  }
}

section {
  &#init-raffler-cycle {
    align-items: center;
    background-color: $gray-dark;
    display: flex;
    height: 5em;
    justify-content: center;
    width: 100%;

    a {
      color: $blue-sky2;
      display: block;
      font-size: 2em;
      text-decoration: none;
      text-shadow: 2px 2px 2px $text-shadow;

      &:hover {
        color: $white;
      }
    }
  }
}

ul {
  margin: 2px;

  li {
    line-height: 1.3em;
    margin: 0 0 0 -21px;
  }
}

button,
input {
  box-sizing: border-box;
  font-family: 'Overpass Mono', monospace;
  height: 26px;
}

button {
  width: auto;
}

audio {
  &#talkify-audio {
    border-radius: 0;
    bottom: 0;
    display: none;
    position: fixed;
    width: calc(100% - 227px);
  }
}

.button {
  box-shadow: inset 0 -3px 1px $shadow-start, 0 2px 2px $shadow-end;
  box-sizing: border-box;
  color: $white;
  display: block;
  font-size: 24px;
  margin: 0;
  padding: 2px 15px 7px;
  text-decoration: none;
  width: 100%;

  &:hover {
    text-decoration: none;
  }

  &.export {
    background-color: darken($blue, 10%);
    border-radius: 10px;
    font-size: 16px;
    height: auto;
    padding: 2px;
    width: auto;

    &:hover { background-color: darken($blue, 13%); }
  }

  // timer control buttons
  &.start {
    background-color: $green;

    &:hover {
      background-color: lighten($green, 5%);
    }
  }

  &.reset {
    background-color: $danger;

    &:hover {
      background-color: lighten($danger, 5%);
    }
  }

  &.stop {
    background-color: $danger;

    &:hover {
      background-color: lighten($danger, 5%);
    }
  }

  // main raffle! button
  &.raffle {
    background-color: darken($blue, 15%);
    border-radius: 10px;
    box-shadow: 0 9px lighten($black, 20%);
    clear: left;
    display: inline-block;
    float: none;
    font-size: 3.75em;
    margin: 0 auto;
    outline: none;
    padding: 24px 32px;
    text-decoration: none;
    text-shadow: 2px 2px 0 $text-shadow;
    transition: 250ms;
    width: 80%;

    &.disabled {
      background-color: $gray;
      box-shadow: 0 9px lighten($black, 40%);
      color: $gray-light;

      &:hover {
        background-color: lighten($gray, 5%);
        color: $gray-light;
        cursor: not-allowed;
      }
    }

    &:hover {
      background-color: darken($blue, 5%);
    }

    &:active {
      box-shadow: 0 5px lighten($black, 10%);
      transform: translateY(4px);
    }

    &.vertical {
      border-radius: 25px;
      display: block;
      padding: 20px;
      position: relative;
      text-transform: uppercase;
      width: 127px;

      &.bottom {
        padding-bottom: 20px;
        padding-top: 25px;
        top: -17px;
      }
    }
  }

  // test notifications buttons
  &.test {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    text-align: center;

    &.success {
      background-color: $green;
      &:hover { background-color: lighten($green, 5%); }
    }

    &.notice {
      background-color: $blue;
      &:hover { background-color: lighten($blue, 5%); }
    }

    &.warning {
      background-color: $warning;
      &:hover { background-color: lighten($warning, 5%); }
    }

    &.error {
      background-color: $danger;
      &:hover { background-color: lighten($danger, 5%); }
    }
  }
}

.ui-draggable {
  .ui-dialog-titlebar {
    background-color: lighten($danger, 10%);
    color: darken($white, 2%);
  }
}

.ui-dialog {
  .ui-dialog-buttonpane {
    button {
      padding: 4px;
      width: 100px;

      &:first-of-type {
        background-color: lighten($danger, 10%);
        color: darken($white, 2%);
      }
    }
  }
}

.wrapper {
  margin: 0;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.item-status {
  background: $orange;
  border: 2px solid $black;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid $black;
  cursor: pointer;
  font-size: 1.1em;
  left: 25%;
  margin: 0 auto 5px;
  max-width: 50vw;
  min-height: 30px;
  min-width: 40px;
  padding: 10px 20px;
  position: fixed;
  text-align: center;
  top: 32px;
  z-index: 10000;
}

.checkbox {
  clear: both;
  padding: 2px;
  width: 100%;

  label {
    clear: both;
    margin-left: 5px;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      text-shadow: 1px 1px 1px $text-shadow;
    }
  }

  input {
    float: left;
    margin-left: 6px;
    padding: 20px;
    position: relative;
    top: -1px;

    &:hover {
      cursor: pointer;
      text-shadow: 1px 1px 1px $text-shadow;
    }
  }
}

.success,
.confirm {
  background-color: $green;
}

.failure,
.deny {
  background-color: $danger;
}

.dialog {
  display: none;
}

#admin-menu {
  background-color: darken($blue-sky, 10%);
  border-left: 1px solid $black;
  color: $white;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 700;
  height: 100%;
  margin-right: -300px;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 37px;
  transition: 0.25s;
  width: 225px;
  z-index: 10;

  &.menu-show {
    box-shadow: -3px 3px 10px $gray-dark;
    margin-right: 0;
  }

  .menu {
    overflow-x: hidden;
    text-align: left;

    &.with-debug {
      min-height: 1085px;
    }

    div,
    label {
      &.title {
        background: $gray-dark;
        border-bottom: 1px solid $black;
        border-left: 0;
        border-top: 1px solid darken($gray, 2%);
        clear: left;
        float: left;
        font-size: 1.2em;
        height: 23px;
        padding: 0 5px 2px 7px;
        text-transform: uppercase;
        width: 100%;
      }
    }

    div {
      text-align: left;

      &.title {
        &.title-with-checkbox {
          label {
            float: left;
            width: auto;
          }

          input {
            float: left;
            margin: 0 0 2px 5px;
          }
        }
      }
    }

    .fa,
    .fas {
      font-size: 16px;
    }

    #fancy-options {
      float: left;
      width: 100%;
    }

    #timer-controls {
      clear: both;
      display: block;
      float: none;
      width: 100%;

      & > a {
        font-size: 20px;
        margin: 0;
        width: 100%;

        &#button-timer-start,
        &#button-timer-stop {
          float: left;
          width: 50%;
        }
      }
    }

    #user-items-manager {
      clear: left;

      input,
      button,
      div {
        position: relative;
      }

      input {
        width: 100%;

        &#text-user-items-add-name,
        &#text-user-items-add-affl {
          padding: 3px;
        }
      }

      a {
        color: $white;
        font-size: 20px;
        margin: 0;

        &#button-user-items-add,
        &#button-user-items-clear {
          float: left;
          width: 50%;
        }

        &#button-user-items-add {
          background-color: $green;

          &:hover {
            background-color: lighten($green, 5%);
          }

          &.disabled {
            background-color: $gray;
            color: $gray-light;
            cursor: not-allowed;
            text-decoration: none;

            &:hover {
              background-color: lighten($gray, 5%);
              color: $gray-light;
              cursor: not-allowed;
            }
          }
        }

        &#button-user-items-clear {
          background-color: $danger;

          &.disabled {
            background-color: $gray;
            color: $gray-light;
            cursor: not-allowed;
            text-decoration: none;

            &:hover {
              background-color: lighten($gray, 5%);
              color: $gray-light;
              cursor: not-allowed;
            }
          }
        }
      }

      #user-items-display {
        clear: left;
        color: $white;
        font-weight: bold;
        margin: 4px 0 0;
        padding: 2px 4px;

        ul {
          li {
            margin-left: 0;
          }
        }
      }
    }

    #debug-options {
      display: none;

      &.show {
        display: block;
      }

      #items-available {
        textarea {
          background: darken($white, 10%);
          border: none;
          font-size: 0.9em;
          height: 150px;
          padding: 5px;
          width: 100%;
        }
      }

      #items-chosen {
        textarea {
          background: darken($white, 10%);
          border: none;
          font-size: 0.9em;
          height: 150px;
          padding: 5px;
          width: 100%;
        }
      }

      #debug-values {
        div {
          &.values {
            background: lighten($blue, 10%);
            padding: 0 10px;
            transition: all 100ms ease;
          }
        }

        input {
          &[type='range'] {
            width: 100%;
          }
        }
      }

      #test-notify {
        clear: both;

        & > a {
          float: left;
          width: 25%;

          &.disabled {
            background-color: $gray;
            color: $gray-light;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

#main-content {
  margin: 0;
  min-height: 100%;
  position: relative;
  transition: 200ms;
  width: 100%;

  &.with-menu {
    width: calc(100% - 225px);
  }

  .header-container {
    background: $blue;
    border-bottom: 5px solid darken($blue, 5%);
    box-shadow: none;
    color: $white;
    height: 32px;
    margin: 0 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    h1 {
      float: left;
      font-size: 2.5em;
      margin: 0.1em 0 0.04em;
      padding-left: 5px;
      text-shadow: 1px 1px 1px darken($blue, 20%);
    }

    span {
      font-size: 1.25em;
      margin: auto 5px auto 10px;
      position: relative;
      text-shadow: 1px 1px 1px $text-shadow;
      top: 5px;
    }

    img {
      position: relative;
      top: 1px;
    }

    #button-admin-menu-toggle {
      cursor: pointer;
      display: none;
      height: 24px;
      padding: 4px;
      position: fixed;
      right: 7px;
      top: 6px;
      transition: 0.25s;
      width: 24px;
      z-index: 15;

      div {
        box-shadow: 1px 1px 1px $text-shadow;
      }

      .menu-bar {
        border-radius: 2px;
        position: absolute;
        transition: 0.5s;
        width: 75%;
      }

      .menu-bar-top {
        border: 4px solid $white;
        border-bottom: none;
        top: 0;
      }

      .menu-bar-middle {
        background-color: $white;
        height: 4px;
        margin-bottom: 5px;
        margin-top: 5px;
        top: 4px;
        width: 32px;
      }

      .menu-bar-bottom {
        border: 4px solid $white;
        border-top: none;
        top: 18px;
      }

      .button-open {
        .menu-bar-top {
          transform: rotate(45deg) translate(6px, 7px);
          transition: 0.5s;
        }

        .menu-bar-middle {
          opacity: 0;
          transform: translate(-230px);
          transition: 0.1s ease-in;
        }

        .menu-bar-bottom {
          transform: rotate(-45deg) translate(5px, -7px);
          transition: 0.5s;
        }
      }
    }

    header {
      margin: 0;
      width: 100%;

      img {
        &#logo {
          max-height: 30px;
          padding-left: 5px;
        }
      }
    }
  }

  .main-container {
    clear: both;
    margin: 25px 0 0;
    overflow: hidden;
    padding: 0 0 50px;

    .wrapper {
      div {
        margin: 0 auto;
        position: relative;
        text-align: center;
      }
    }

    #items-cycle {
      align-content: center;
      align-items: center;
      background: linear-gradient(to bottom, $gray-light 0%, $gray 14%, $gray-dark 100%);
      color: $gray-light;
      display: flex;
      flex-wrap: wrap;
      font-family: 'Cabin', sans-serif;
      font-size: 5vw;
      font-weight: bold;
      height: 25vw;
      line-height: 0.8;
      margin-bottom: 20px;
      margin-top: 0;
      // padding: 10px;
      text-transform: uppercase;
      transition: 1s;
      width: 100%;
      word-break: break-word;
      word-wrap: break-word;

      .item-name { font-size: 0.7em; }
      .item-affl { font-size: 0.35em; }

      &.level1,
      &.level2,
      &.level3,
      &.level4 {
        line-height: 0.8;
        transition: all 1s ease;
      }

      &.level1 {
        background: darken($white, 30%);

        .item-name {
          color: $gray-light;
          font-size: 0.9em;
        }

        .item-affl {
          color: $gray-light;
          font-size: 0.5em;
        }
      }

      &.level2 {
        background: darken($white, 15%);

        .item-name {
          color: saturate($danger, 10%);
          font-size: 1.05em;
        }

        .item-affl {
          color: saturate($danger, 10%);
          font-size: 0.65em;
        }
      }

      &.level3 {
        background: darken($white, 7%);

        .item-name {
          color: saturate($blue, 10%);
          font-size: 1.25em;
        }

        .item-affl {
          color: saturate($blue, 10%);
          font-size: 0.85em;
        }
      }

      &.level4 {
        background: darken($white, 4%);
        box-shadow: 0 0 20px 7px lighten($gray, 5%);

        .item-name {
          color: darken($blue, 5%);
          font-size: 1.5em;
        }

        .item-affl {
          color: darken($blue, 5%);
          font-size: 1em;
        }
      }

      &.level-win {
        background: darken($white, 1%);
        border-bottom: 5px solid darken($green, 10%);
        border-left: 5px solid darken($green, 7%);
        border-right: 5px solid darken($green, 10%);
        border-top: 5px solid darken($green, 7%);
        box-shadow: 0 0 20px 7px $gray;

        .item-name {
          color: $green;
          font-size: 2em;
        }

        .item-affl {
          color: darken($green, 5%);
          font-size: 1.5em;
        }
      }

      &.stopped {
        div {
          opacity: 0.02;
          transition: all 200ms ease;
        }
      }

      div {
        text-transform: uppercase;
        transition: all 200ms ease;
        width: 100%;
      }
    }

    #items-graph {
      display: none;
      text-align: center;
      width: 80%;

      span {
        background-color: $gray-light;
        display: inline-block;
        font-size: 8px;
        height: 1px;
        line-height: 2px;
        margin: 0 1px 0 0;
        padding: 1px;
        width: 1px;

        &.chosen {
          background-color: $warning;
          height: 10px;
        }
      }
    }

    #winner-confirm {
      display: none;
      height: 40px;
      margin: 0 auto 100px;
      padding: 0 20px;
      width: 80%;

      h2 {
        color: $white;
        font-size: 30px;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px lighten($black, 2%);
      }

      & > button {
        float: left;
        font-size: 36px;
        height: 70px;
        width: 50%;

        &.confirm {
          background-color: darken($green, 10%);

          &:hover {
            background-color: $green;
          }
        }

        &.deny {
          background-color: $danger;

          &:hover {
            background-color: lighten($danger, 10%);
          }
        }
      }
    }

    #results-wrapper {
      clear: all;
      color: lighten($black, 2%);
      display: none;
      float: none;
      margin-top: 20px;
      min-height: 40px;
      overflow: hidden;
      padding: 0;
      text-align: center;
      width: 80%;

      #results-header {
        color: $black;
        margin: 0;
        padding: 5px;
        text-align: center;

        h3 {
          font-size: 1.7em;
          margin: 0;
          text-transform: uppercase;
        }
      }

      #results-list {
        height: 110px;
        margin: 0 auto;
        overflow: auto;
        padding: 8px 10px 20px;
        text-transform: uppercase;
        width: 100%;

        ul {
          font-size: 1.3em;
          margin: auto;
          padding: 0 15%;
          text-align: center;
          width: 45vw;

          li {
            list-style-type: none;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .footer-container {
    background: darken($blue, 5%);
    border-top: 5px solid darken($blue, 10%);
    bottom: 0;
    color: $white;
    font-family: 'Overpass Mono', monospace;
    font-size: 0.9em;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    transition: 200ms;
    width: 100%;

    &.with-menu {
      width: calc(100% - 225px);
    }

    footer {
      padding: 0;

      a {
        color: $warning;
        text-decoration: none;

        &:hover {
          color: lighten($warning, 5%);
        }
      }
    }
  }
}
