:root {
  --neutral-white: #ffffff;
  --neutral-white-soft: #f8f8f8;
  --neutral-white-mute: #f2f2f2;

  --gray: #999999;
  --gray-vvlight: #eeeeee;
  --gray-vlight: #dddddd;
  --gray-light: #cccccc;
  --gray-dark: #555555;

  --neutral-black: #181818;
  --neutral-black-soft: #222222;
  --neutral-black-mute: #282828;

  --neutral-black-trans: #000000cc;

  --blue-primary: #196177;
  --blue-primary-dark: #114554;
  --blue-light: #92e0ff;
  --blue-light2: #86cde9;
  --pink-light: #f9a4ff;
  --pink-pale: #fcd0ff;

  --link-color-light: #71d6ff;
  --link-color-dark: #006e90;

  --raffle-level2: #0081aa;
  --raffle-level3: #0095c3;
  --raffle-level4: #00a8dd;

  --danger: #a52020;
  --danger-hover: #c82222;

  --debug: #715ec7;
  --debug-gray: #8c85ae;
}

@font-face {
  font-family: 'Cabin';
  src: url(https://fonts.neb.host/Cabin/static/Cabin-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--blue-primary);
  color: var(--neutral-black);
  font-family: 'Cabin', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-size-adjust: 0.5;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  transition: all 200ms ease;
}
body.level2 {
  background-color: var(--raffle-level2);
}
body.level3 {
  background-color: var(--raffle-level3);
}
body.level4 {
  background-color: var(--raffle-level4);
}

a.disabled,
.button:disabled {
  background-color: var(--gray) !important;
  color: var(--gray-light);
  cursor: not-allowed;
  text-decoration: none;
}
@media (hover: hover) {
  a.disabled:hover,
  .button.disabled:hover {
    background-color: #a6a6a6;
    color: var(--gray-light);
    cursor: not-allowed;
  }
}

code {
  background-color: var(--neutral-white-mute);
  border: 1px solid var(--gray-vvlight);
  border-radius: 4px;
  display: inline-block;
  padding: 0 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

ol {
  margin-inline-start: 1em;
}
ol ul {
  margin-inline-start: 1em;
}

ul {
  margin: 2px;
}
ul li {
  line-height: 1.3em;
  margin: 0 0 0 -21px;
}

hr {
  margin: 5px 0;
}

button,
input {
  box-sizing: border-box;
  height: 26px;
}

button {
  align-items: center;
  background-color: var(--neutral-white-mute);
  border: 0;
  border-radius: 4px;
  color: #0d0d0d;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-family: inherit;
  font-weight: bold;
  justify-content: center;
  margin: 0 6px 0 0;
  padding: 0;
  text-transform: uppercase;
  user-select: none;
  -webkit-tap-highlight-color: #00000040;
}
button:disabled {
  background-color: var(--gray-vvlight);
  color: var(--gray-vlight);
  cursor: not-allowed;
}
button.icon {
  background: none;
  border: none;
  color: var(--link-color-light);
  cursor: pointer;
  font-size: 2.4rem;
  padding: 0 4px;
  text-shadow: 1px 1px 1px #00202a;
}
@media (hover: hover) {
  button.icon:hover {
    color: var(--neutral-white);
  }
}
button.help {
  background-color: var(--gray-light);
  border-radius: 4px;
  display: inline-block;
  height: 20px;
  margin-right: 2px;
  position: relative;
  top: 1px;
  width: 20px;
}
button.help i {
  bottom: 1px;
  position: relative;
}

header {
  align-items: center;
  background-color: var(--link-color-dark);
  border-bottom: 5px solid #005b77;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 50px;
  padding: 0 16px;
  z-index: 2;
}
header .menu-left {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 70px;
}
header .menu-left #nav-overlay {
  align-items: unset;
  background-color: transparent;
  display: none;
  height: 100%;
  justify-content: left;
  left: 0;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 10;
}
header .menu-left #nav-overlay #nav-content {
  background-color: #adcad6;
  border-radius: 0;
  box-shadow: 3px 5px 5px #00000026;
  box-sizing: border-box;
  max-height: calc(100% - 41px);
  max-width: 500px;
  overflow-y: auto;
  padding: 0px;
  position: relative;
  top: 0;
  width: 100%;
}
header .menu-left #nav-overlay #nav-content a {
  color: var(--neutral-black-soft);
  text-decoration: none;
}
header .menu-left #nav-overlay #nav-content .container {
  align-items: normal;
  padding: 0;
}
header .menu-left #nav-overlay #nav-content .container .nav-header {
  font-size: 2rem;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-top: 18px;
}
header .menu-left #nav-overlay #nav-content .container .nav-list a {
  align-items: center;
  background-color: transparent;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  height: 30px;
  justify-content: left;
  padding: 4px 0 4px 18px;
}
@media (hover: hover) {
  header .menu-left #nav-overlay #nav-content .container .nav-list a:hover {
    background-color: var(--link-color-light);
  }
}
header .menu-left #nav-overlay #nav-content #button-nav-close {
  font-size: 2rem;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
}
@media (hover: hover) {
  header .menu-left #nav-overlay #nav-content #button-nav-close a:hover {
    color: var(--link-color-dark);
  }
}
header .menu-left #nav-overlay #nav-content .nav-footer {
  display: flex;
}
header .menu-left #nav-overlay #nav-content #footer-neb-host {
  background: #00475d;
  border-top: 2px solid #00202a;
  bottom: 9px;
  color: var(--neutral-white);
  font-family: 'Consolas', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  height: 18px;
  left: 0;
  letter-spacing: initial;
  margin-top: 20px;
  padding: 10px 18px;
  position: absolute;
  right: 0;
  text-align: left;
  z-index: 2;
}
header .menu-left #nav-overlay #nav-content #footer-neb-host a {
  color: var(--link-color-light);
}
@media (hover: hover) {
  header .menu-left #nav-overlay #nav-content #footer-neb-host a:hover {
    color: var(--neutral-white);
  }
}
header .menu-left #nav-overlay.show {
  display: flex;
}
header .menu-left #debug-buttons {
  display: none;
}
header .menu-left #debug-buttons button {
  color: var(--debug);
}
header .menu-left #debug-buttons .ddmenu {
  align-items: center;
  display: flex;
  z-index: 10;
}
header .menu-left #debug-buttons .ddmenu .ddgroup {
  border: 1px solid transparent;
  position: relative;
  text-decoration: none;
  width: 100%;
}
header .menu-left #debug-buttons .ddmenu .ddgroup button {
  margin-right: 0;
}
@media (hover: hover) {
  header .menu-left #debug-buttons .ddmenu .ddgroup:hover {
    background: #d8d2f5;
    border: 1px solid var(--debug-gray);
    cursor: pointer;
  }
  header .menu-left #debug-buttons .ddmenu .ddgroup:hover .ddsub {
    display: flex;
    flex-direction: column;
  }
}
header .menu-left #debug-buttons .ddmenu .ddgroup .ddsub {
  display: none;
  left: -1px;
  position: absolute;
  top: 100%;
  width: 100%;
}
header .menu-left #debug-buttons .ddmenu .ddgroup .ddsub a {
  box-sizing: border-box;
  display: block;
}
header .menu-left #debug-buttons .ddmenu .ddgroup .ddsub button {
  background-color: #e3e0f3;
  border: 1px solid transparent;
  border-radius: 0;
  height: 20px;
  margin-right: 1px;
  padding: 5px;
  width: 26px;
}
@media (hover: hover) {
  header .menu-left #debug-buttons .ddmenu .ddgroup .ddsub button:hover {
    background: #e1ddf7;
    border: 1px solid var(--debug-gray);
  }
}

@media screen and (max-width: 640px) {
  header .menu-left #debug-buttons .ddmenu .ddgroup .ddmenu {
    flex-wrap: wrap;
  }
  header .menu-left #debug-buttons .ddmenu .ddgroup .ddsub {
    position: static;
  }
}

header .title {
  align-items: center;
  color: var(--neutral-white);
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 1px 1px 1px #00202a;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  header .title {
    font-size: 2rem;
    letter-spacing: 0.01em;
  }
}
header .title span {
  display: inline-block;
  padding: 0 10px;
}
header .title img#logo {
  border: 1px solid var(--neutral-black);
  max-height: 30px;
}
header .menu-right {
  display: flex;
  width: 70px;
}
header .menu-right #button-settings {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

@media (min-width: 415px) {
  header .menu-left #nav-overlay #nav-content {
    width: 325px;
  }
}

#settings-panel {
  background-color: var(--blue-light);
  border-left: 2px solid var(--blue-primary);
  bottom: 0;
  display: none;
  height: 50vh;
  min-width: 320px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  right: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  #settings-panel {
    height: 100vh;
    top: 53px;
    width: 33%;
  }
}
@media (min-width: 992px) {
  #settings-panel {
    width: 25%;
  }
}
#settings-panel-header {
  align-items: center;
  background-color: var(--blue-primary-dark);
  color: var(--neutral-white);
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  height: 20px;
  justify-content: space-between;
  max-width: none;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* @media (min-width: 768px) {
      #settings-panel-header {
        max-width: 300px;
      }
    } */
#settings-panel-header button#button-settings-panel-close {
  background: none;
  border: 0 none;
  color: var(--neutral-white);
  font-size: 2.5rem;
  height: 20px;
  max-width: 20px;
  padding: 10px 22px 10px 10px;
}
@media (min-width: 768px) {
  #settings-panel-header button#button-settings-panel-close {
    margin: 0;
    padding: 0;
  }
}

#settings-panel-content {
  margin-top: 30px;
  overflow-y: auto;
  padding: 10px 10px 0;
}
@media (min-width: 768px) {
  #settings-panel-content {
    /* bottom: 0; */
    /* left: 0; */
    padding-bottom: 53px;
    /* position: absolute; */
    /* top: 0; */
  }
}

#settings-panel-content .setting-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#settings-panel-content .setting-group .title {
  font-size: 18px;
  margin-top: 5px;
}
#settings-panel-content .setting-row {
  align-items: center;
  border-bottom: 1px solid var(--gray-dark);
  display: flex;
  justify-content: space-between;
  padding: 0;
}
#settings-panel-content .setting-row.tall {
  display: block;
}
#settings-panel-content .setting-row.tall .control {
  margin-left: 0;
}

#settings-panel-content .setting-row.debug {
  background-color: var(--pink-pale);
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

#settings-panel-content .setting-row:last-of-type {
  border-bottom: none;
}
#settings-panel-content .setting-row textarea:read-only {
  background-color: var(--neutral-white-mute);
  color: var(--gray);
  cursor: not-allowed;
}
#settings-panel-content .setting-row article {
  align-items: center;
  background-color: var(--blue-light2);
  display: flex;
  justify-content: space-between;
}
#settings-panel-content .setting-row article .text {
  border-left: 1px solid var(--gray-dark);
  padding: 0 0 4px 8px;
}
#settings-panel-content .setting-row article .text .title {
  font-size: 16px;
}
#settings-panel-content .setting-row article .control {
  padding-right: 10px;
}

#settings-panel-content .setting-row .text {
  padding: 8px 0;
}
#settings-panel-content .setting-row .text .title {
  font-size: 18px;
}
#settings-panel-content .setting-row .text .title.toggle {
  margin-left: 18px;
}
#settings-panel-content .setting-row .text .description {
  color: #2b2b2b;
  font-size: 12px;
  margin-left: 18px;
}
#settings-panel-content .setting-row .control {
  display: block;
  margin-left: 1em;
}
#settings-panel-content .setting-row .control details > summary {
  cursor: pointer;
  list-style-type: none;
  margin-left: 20px;
  position: relative;
}
#settings-panel-content .setting-row .control > details summary::-webkit-details-marker {
  display: none;
}
#settings-panel-content .setting-row .control details > summary:before,
#settings-panel-content .setting-row .control details[open] > summary:before {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L7 7.5L13 1.5' stroke='%230039A6' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 27px;
  content: '';
  height: 16px;
  left: -21px;
  position: absolute;
  transform: rotate(-90deg);
  transition: 0.2s;
  width: 16px;
}
#settings-panel-content .setting-row .control.open details[open] > summary:before {
  transform: rotate(0deg);
}
#settings-panel-content .setting-row .control details[open] > summary:before {
  transform: rotate(0deg);
}
#settings-panel-content .setting-row .control .container {
  width: 100%;
}
#settings-panel-content .setting-row .control .container.textarea {
  margin-right: 0;
  width: inherit;
}
#settings-panel-content .setting-row .control .container.textarea textarea {
  box-sizing: border-box;
  font-size: 1.5rem;
  height: 189px;
  max-width: 100%;
  padding: 0.5rem;
  width: 100%;
}

#settings-panel-content .setting-row .control .container input {
  max-width: 100px;
  min-width: 50px;
}
#settings-panel-content .setting-row .control .container.buttons {
  display: flex;
}
#settings-panel-content .setting-row .control .container.buttons button {
  display: inherit;
  min-height: 40px;
  width: 50px;
}
#settings-panel-content .setting-row .control .container.buttons.buttons-test-sound button {
  font-size: 1.5rem;
  width: 80px;
}
#settings-panel-content .setting-row .control .container.buttons.buttons-test-sound button i {
  margin-right: 5px;
}

#settings-panel-content #settings-debug-container {
  background-color: var(--pink-light);
  display: none;
  padding: 0 10px 10px;
}
#settings-panel-content #settings-debug-container .setting-row {
  width: 100%;
}
#settings-panel-content #settings-debug-container .setting-row .container.textarea {
  margin-right: 12px;
  width: inherit;
}
#settings-panel-content #settings-debug-container .setting-row .container.textarea textarea {
  max-width: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  #settings-panel-content #settings-debug-container .setting-row .container.textarea {
    margin-right: 0;
  }
  #settings-panel-content #settings-debug-container .setting-row .container.textarea textarea {
    margin-right: 0;
    max-width: none;
    min-width: auto;
    width: 268px;
  }
}
#settings-panel-content #settings-debug-container .setting-row .text .description {
  color: var(--neutral-black-mute);
}

#pick-winner-container {
  display: none;
}

.button {
  border-radius: 4px;
  box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.45), 0 2px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: var(--neutral-white);
  display: block;
  font-size: 1.5rem;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}
@media (hover: hover) {
  .button:hover {
    text-decoration: none;
  }
}
.button.export {
  background-color: #00475d;
  border-radius: 10px;
  display: inline-block;
  font-size: 2rem;
  height: auto;
  margin: 0 auto;
  padding: 2px 10px;
  text-transform: uppercase;
  width: auto;
}
@media (hover: hover) {
  .button.export:hover {
    background-color: #003b4e;
  }
}

.button-timers {
  display: flex;
}
.button-timers .button {
  align-items: center;
  display: flex;
}

.button.start > span,
.button.stop > span {
  display: inline-block;
  margin-left: 5px;
}

.button.start {
  background-color: var(--link-color-dark);
}
@media (hover: hover) {
  .button.start:hover {
    background-color: #0081aa;
  }
}
.button.reset {
  background-color: #632b30;
}
@media (hover: hover) {
  .button.reset:hover {
    background-color: #753339;
  }
}
.button.stop {
  background-color: #632b30;
}
@media (hover: hover) {
  .button.stop:hover {
    background-color: #753339;
  }
}
.button.danger {
  align-items: center;
  background-color: var(--danger);
  display: flex;
  justify-content: center;
  min-width: 40px;
}
@media (hover: hover) {
  .button.danger:hover {
    background-color: var(--danger-hover);
  }
}
.button.raffle {
  background-color: #003444;
  border-radius: 10px;
  box-shadow: 0 9px var(--gray-dark);
  clear: left;
  display: inline-block;
  float: none;
  font-size: 3rem;
  margin: 0 auto;
  outline: none;
  padding: 12px;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--neutral-black-trans);
  transition: 250ms;
  width: 80%;
}
.button.raffle.disabled {
  background-color: var(--gray);
  box-shadow: 0 9px var(--gray-dark);
  color: var(--gray-light);
}
@media (hover: hover) {
  .button.raffle.disabled:hover {
    background-color: #a6a6a6;
    color: var(--gray-light);
    cursor: not-allowed;
  }
}
@media (hover: hover) {
  .button.raffle:hover {
    background-color: #0d7d9f;
  }
}
.button.raffle:active {
  box-shadow: 0 5px #1a1a1a;
  transform: translateY(4px);
}
.button.raffle.vertical {
  border-radius: 25px;
  display: block;
  padding: 20px;
  position: relative;
  text-transform: uppercase;
  width: 127px;
}
.button.raffle.vertical.bottom {
  padding-bottom: 20px;
  padding-top: 25px;
  top: -17px;
}
.button.test {
  font-size: 1.8rem;
  margin: 0;
  padding: 5px;
  text-align: center;
}
.button.test.success {
  background-color: #99c24d;
}
@media (hover: hover) {
  .button.test.success:hover {
    background-color: #a4c960;
  }
}
.button.test.notice {
  background-color: var(--link-color-dark);
}
@media (hover: hover) {
  .button.test.notice:hover {
    background-color: #0081aa;
  }
}
.button.test.warning {
  background-color: #fadf63;
}
@media (hover: hover) {
  .button.test.warning:hover {
    background-color: #fbe47c;
  }
}
.button.test.error {
  background-color: #632b30;
}
@media (hover: hover) {
  .button.test.error:hover {
    background-color: #753339;
  }
}

.button.test.countdown {
  background-color: #442b63;
}
@media (hover: hover) {
  .button.test.countdown:hover {
    background-color: #5b3375;
  }
}

.button.test.name {
  background-color: #2b2e63;
}
@media (hover: hover) {
  .button.test.name:hover {
    background-color: #3b3375;
  }
}

.button.test.victory {
  background-color: #2b4863;
}
@media (hover: hover) {
  .button.test.victory:hover {
    background-color: #334775;
  }
}

.ui-draggable .ui-dialog-titlebar {
  background-color: #873a41;
  color: var(--neutral-white-soft);
}
.ui-dialog .ui-dialog-buttonpane button {
  padding: 4px;
  width: 100px;
}
.ui-dialog .ui-dialog-buttonpane button:first-of-type {
  background-color: #873a41;
  color: var(--neutral-white-soft);
}

.item-status-wrapper {
  align-items: baseline;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 auto 5px;
  position: fixed;
  top: 7%;
  width: 100%;
  z-index: 1;
}
.item-status {
  align-items: baseline;
  background: #f18f01;
  border: 2px solid var(--neutral-black);
  border-radius: 0 0 3px 3px;
  border-top: 1px solid var(--neutral-black);
  box-shadow: 2px 2px 4px var(--neutral-black-soft);
  cursor: pointer;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  font-size: 2rem;
  gap: 5px;
  justify-content: left;
  margin: 0 auto 5px;
  max-height: 50px;
  max-width: 640px;
  min-height: 30px;
  min-width: 200px;
  padding: 5px 10px 0;
  width: 100%;
}
.item-status code {
  color: var(--neutral-black);
  font-size: 1.75rem;
}
@media (hover: hover) {
  .item-status:hover {
    box-shadow: 0 0 0 var(--neutral-black-soft);
  }
}
.item-status-type {
  align-items: center;
  display: flex;
  font-weight: bold;
}
.item-status-type span {
  margin-left: 5px;
}
.item-status-msg {
  text-align: left;
}

.checkbox {
  clear: both;
  padding: 2px;
  width: 100%;
}
.checkbox label {
  clear: both;
  margin-left: 5px;
  text-transform: uppercase;
}
@media (hover: hover) {
  .checkbox label:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px var(--neutral-black-trans);
  }
}
.checkbox input {
  float: left;
  margin-left: 6px;
  padding: 20px;
  position: relative;
  top: -1px;
}
@media (hover: hover) {
  .checkbox input:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px var(--neutral-black-trans);
  }
}

.success,
.confirm {
  background-color: #99c24d;
}

.failure,
.deny {
  background-color: #632b30;
}

.dialog {
  display: none;
}

section#init-raffler-cycle {
  align-items: center;
  background-color: var(--gray-dark);
  display: flex;
  height: 5em;
  justify-content: center;
  width: 100%;
}
section#init-raffler-cycle a {
  color: var(--link-color-light);
  display: none;
  font-size: 7vw;
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--neutral-black-trans);
}
@media (hover: hover) {
  section#init-raffler-cycle a:hover {
    color: var(--neutral-white);
  }
}
section#init-raffler-cycle span#empty-message {
  display: none;
}

#main-content {
  margin: 0;
  min-height: 100%;
  position: relative;
  transition: 200ms;
  width: 100%;
}
@media (min-width: 768px) {
  #main-content.settings-panel-enabled {
    width: calc(100% - 320px);
  }
}

#main-content .header-container {
  background: var(--link-color-dark);
  border-bottom: 5px solid #005b77;
  box-shadow: none;
  color: var(--neutral-white);
  height: 32px;
  margin: 0 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
#main-content .header-container h1 {
  float: left;
  font-size: 2.5rem;
  margin: 0.1em 0 0.04em;
  padding-left: 5px;
  text-shadow: 1px 1px 1px #00202a;
}
#main-content .header-container span {
  font-size: 1.25rem;
  margin: auto 5px auto 10px;
  position: relative;
  text-shadow: 1px 1px 1px var(--neutral-black-trans);
  top: 5px;
}
#main-content .header-container img {
  position: relative;
  top: 1px;
}
#main-content .header-container #button-admin-menu-toggle {
  cursor: pointer;
  display: none;
  height: 24px;
  padding: 4px;
  position: fixed;
  right: 7px;
  top: 6px;
  transition: 0.25s;
  width: 24px;
  z-index: 15;
}
#main-content .header-container #button-admin-menu-toggle div {
  box-shadow: 1px 1px 1px var(--neutral-black-trans);
}
#main-content .header-container #button-admin-menu-toggle .menu-bar {
  border-radius: 2px;
  position: absolute;
  transition: 0.5s;
  width: 75%;
}
#main-content .header-container #button-admin-menu-toggle .menu-bar-top {
  border: 4px solid var(--neutral-white);
  border-bottom: none;
  top: 0;
}
#main-content .header-container #button-admin-menu-toggle .menu-bar-middle {
  background-color: var(--neutral-white);
  height: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  top: 4px;
  width: 32px;
}
#main-content .header-container #button-admin-menu-toggle .menu-bar-bottom {
  border: 4px solid var(--neutral-white);
  border-top: none;
  top: 18px;
}
#main-content .header-container #button-admin-menu-toggle .button-open .menu-bar-top {
  transform: rotate(45deg) translate(6px, 7px);
  transition: 0.5s;
}
#main-content .header-container #button-admin-menu-toggle .button-open .menu-bar-middle {
  opacity: 0;
  transform: translate(-230px);
  transition: 0.1s ease-in;
}
#main-content .header-container #button-admin-menu-toggle .button-open .menu-bar-bottom {
  transform: rotate(-45deg) translate(5px, -7px);
  transition: 0.5s;
}
#main-content .header-container header {
  margin: 0;
  width: 100%;
}
#main-content .main-container {
  clear: both;
  margin: 0;
  overflow: hidden;
  padding: 0 0 50px;
}
#main-content .main-container .wrapper div {
  margin: 0 auto;
  position: relative;
  text-align: center;
}
#main-content .main-container #items-cycle {
  align-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--gray-light) 0%,
    var(--gray) 14%,
    var(--gray-dark) 100%
  );
  color: var(--gray-light);
  display: flex;
  flex-wrap: wrap;
  font-family: 'Cabin', sans-serif;
  font-size: 5vw;
  font-weight: bold;
  height: 25vw;
  line-height: 0.8;
  margin-bottom: 20px;
  margin-top: 0;
  /* text-transform: uppercase; */
  transition: 1s;
  word-break: break-word;
  word-wrap: break-word;
}
#main-content .main-container #items-cycle .item {
  font-size: calc(2rem + 1vw);
}
#main-content .main-container #items-cycle.level1,
#main-content .main-container #items-cycle.level2,
#main-content .main-container #items-cycle.level3,
#main-content .main-container #items-cycle.level4 {
  line-height: 0.8;
  transition: all 1s ease;
}
#main-content .main-container #items-cycle.level1 {
  background: #b3b3b3;
}
#main-content .main-container #items-cycle.level1 .item {
  color: var(--gray-light);
  font-size: calc(2rem + 2vw);
}
#main-content .main-container #items-cycle.level2 {
  background: #d9d9d9;
}
#main-content .main-container #items-cycle.level2 .item {
  color: #6a242a;
  font-size: calc(2rem + 3vw);
}
#main-content .main-container #items-cycle.level3 {
  background: #ededed;
}
#main-content .main-container #items-cycle.level3 .item {
  color: var(--link-color-dark);
  font-size: calc(2rem + 3.75vw);
}
#main-content .main-container #items-cycle.level4 {
  background: whitesmoke;
  box-shadow: 0 0 20px 7px #a6a6a6;
}
#main-content .main-container #items-cycle.level4 .item {
  color: #005b77;
  font-size: calc(2rem + 4.25vw);
}
@media (min-width: 768px) {
  #main-content .main-container #items-cycle.level4 .item {
    font-size: calc(2rem + 5vw);
  }
}
#main-content .main-container #items-cycle.level-win {
  background: var(--neutral-white-soft);
  border-bottom: 5px solid #7ea438;
  border-left: 5px solid #87af3c;
  border-right: 5px solid #7ea438;
  border-top: 5px solid #87af3c;
  box-shadow: 0 0 20px 7px var(--gray);
}
#main-content .main-container #items-cycle.level-win .item {
  color: #749537;
  font-size: calc(2rem + 5vw);
  text-shadow: 1px 1px 2px #223108;
}
@media (min-width: 768px) {
  #main-content .main-container #items-cycle.level-win .item {
    font-size: calc(2rem + 7vw);
  }
}
#main-content .main-container #items-cycle.stopped div {
  /* opacity: 0.02; */
  transition: all 200ms ease;
}
#main-content .main-container #items-cycle div {
  transition: all 200ms ease;
  width: 100%;
}
#main-content .main-container #items-graph {
  display: none;
  margin-bottom: 15px;
  text-align: center;
  width: 80%;
}
#main-content .main-container #items-graph.show {
  display: block;
}
#main-content .main-container #items-graph span {
  background-color: var(--gray-light);
  display: inline-block;
  font-size: 0.5rem;
  height: 1px;
  line-height: 2px;
  margin: 0 1px 0 0;
  padding: 1px;
  width: 1px;
}
#main-content .main-container #items-graph span.chosen {
  background-color: #fadf63;
  height: 10px;
}
#main-content .main-container #chosen-confirm {
  display: none;
  height: 40px;
  margin: 0 auto 100px;
  padding: 0 20px;
  width: 80%;
}
#main-content .main-container #chosen-confirm h2 {
  color: var(--neutral-white);
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #050505;
}
#main-content .main-container #chosen-confirm > button {
  float: left;
  font-size: 3.6rem;
  height: 70px;
  width: 50%;
}
#main-content .main-container #chosen-confirm > button.confirm {
  background-color: #7ea438;
}
@media (hover: hover) {
  #main-content .main-container #chosen-confirm > button.confirm:hover {
    background-color: #99c24d;
  }
}
#main-content .main-container #chosen-confirm > button.deny {
  background-color: #632b30;
}
@media (hover: hover) {
  #main-content .main-container #chosen-confirm > button.deny:hover {
    background-color: #873a41;
  }
}

#main-content .main-container #results-wrapper {
  clear: both;
  color: var(--neutral-white-mute);
  display: none;
  float: none;
  margin-top: 20px;
  min-height: 40px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 80%;
}
#main-content .main-container #results-wrapper #results-header {
  color: var(--neutral-black);
  margin: 0;
  padding: 5px;
  text-align: center;
}
#main-content .main-container #results-wrapper #results-header h3 {
  color: var(--gray-vvlight);
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
}
#main-content .main-container #results-wrapper #results-list {
  background-color: var(--gray-dark);
  border: 2px solid var(--neutral-black-mute);
  margin: 0 auto;
  max-height: 150px;
  overflow: auto;
  padding: 10px;
  text-transform: uppercase;
}
#main-content .main-container #results-wrapper #results-list ul {
  font-size: 2rem;
  margin: auto;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px 2px var(--neutral-black);
}
#main-content .main-container #results-wrapper #results-list ul li {
  list-style-type: none;
  margin: 0;
}

#main-content .footer-container {
  background: #005b77;
  border-top: 5px solid #00475d;
  bottom: 0;
  color: var(--neutral-white);
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  transition: 200ms;
  width: 100%;
}
#main-content .footer-container.with-menu {
  width: calc(100% - 225px);
}
#main-content .footer-container footer {
  padding: 0;
}
#main-content .footer-container footer a {
  color: #fadf63;
  text-decoration: none;
}
@media (hover: hover) {
  #main-content .footer-container footer a:hover {
    color: #fbe47c;
  }
}

.radio {
  margin: 0.2rem;
}
.radio input[type='radio'] {
  position: absolute;
  opacity: 0;
}
.radio input[type='radio'] + .radio-label.radio-label-disabled {
  color: var(--gray-dark);
}
.radio input[type='radio'] + .radio-label:before {
  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  border-radius: 100%;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 1em;
  margin-right: 0.5em;
  position: relative;
  text-align: center;
  transition: all 250ms ease;
  top: 0;
  vertical-align: top;
  width: 1em;
}
.radio input[type='radio']:checked + .radio-label:before {
  background-color: #155da1;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type='radio']:focus + .radio-label:before {
  outline: none;
  border-color: #155da1;
}
.radio input[type='radio']:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type='radio'] + .radio-label:empty:before {
  margin-right: 0;
}

.switch {
  background-color: #444;
  border-radius: 999px;
  cursor: pointer;
  display: block;
  height: 20px;
  position: relative;
  width: 32px;
}
.switch[data-status='true'] {
  background-color: #155da1;
}
.switch[data-status='true'] .knob {
  transform: translateX(calc(100% - 4px));
}
.switch .knob {
  background-color: var(--neutral-white);
  border-radius: 8px;
  display: block;
  height: calc(100% - 4px);
  left: 2px;
  position: absolute;
  top: 2px;
  transform: translateX(0);
  transition: transform 0.3s;
  width: 50%;
}

.form-group {
  display: block;
}
@media (min-width: 768px) {
  .form-group {
    display: flex;
    gap: 4px;
  }
}
.form-group input {
  border: 1px solid var(--neutral-black);
  font-family: monospace;
  padding: 2px;
}
.form-group button {
  border: 1px solid var(--neutral-black);
  display: flex;
  font-size: 1.5rem;
  width: 100%;
}
@media (hover: hover) {
  .form-group button:hover {
    background-color: var(--neutral-white);
  }
}

.fa-floppy-disk:before,
.fa-save:before {
  font-size: 2rem;
}
