[
  "Bavmorda, Nockmaar",
  "Elora Danan, Tir Asleen",
  "Madmartigan, Crossroads",
  "Sorsha, Nockmaar",
  "Willow Ufgood, Newlyn",
  "Fin Raziel, Tir Asleen",
  "Meegosh, Newlyn",
  "Burglekutt, Newlyn",
  "General Kael, Nockmaar"
]
